
<button id="connect" onclick="connect()">Connect</button>
<button id="widgetList" onclick="widgetList()">List Widgets</button>
<button id="widgetCreate" onclick="widgetCreate()">Create Widget</button>
<button id="widgetUpdate" onclick="widgetUpdate()">Update Widget</button>
<button id="widgetDestroy" onclick="widgetDestroy()">Destroy Widget</button>

<pre id="debug"></pre>
<div id="result"></div>